{% extends "dashboard/layout.html" %}
{% block content %}
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h2>Flask Web Site.</h2>
                <p>Flask is considered more Pythonic than Django.</p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}